# =========================
# Angular / Node
# =========================
node_modules/
dist/
.angular/
.tmp/
out-tsc/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# =========================
# Java / Spring Boot
# =========================
target/
bin/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# Logs
*.log

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc / Backups
# =========================
*.swp
*.swo
*.txt
*.zip
*.tar.gz
*.rar
*.7z
*.bak
*.tmp
dead_code_report.md

# =========================
# Secrets / Credentials
# =========================
*serviceAccountKey.json
serviceAccountKey.json
API_KEY/
firebase/
**/*firebase-adminsdk*.json
