<div class="layout">

    <!-- Page Content -->
    <main class="content">
        <router-outlet></router-outlet>
    </main>

    <!-- Bottom Tab Navigation -->
    <!-- <nav class="tabs"> -->

    <!-- Order -->
    <!-- <a routerLink="/add-new-order/tab1" routerLinkActive="active" class="tab">
            <img src="assets/icons/bag-add-outline.svg" alt="Order">
            <span>Order</span>
        </a> -->

    <!-- Jobs -->
    <!-- <a *ngIf="isAssignEnabled && !recordingEnabled; else disabledJobs" routerLink="/add-new-order/tab2"
            routerLinkActive="active" class="tab">
            <img src="assets/icons/briefcase-outline.svg" alt="Jobs">
            <span>Jobs</span>
        </a> -->

    <!-- <ng-template #disabledJobs>
            <div class="tab disabled">
                <img src="assets/icons/briefcase-outline.svg" alt="Jobs">
                <span>Jobs</span>
            </div>
        </ng-template> -->

    <!-- View -->
    <!-- <a routerLink="/add-new-order/tab3" routerLinkActive="active" class="tab">
            <img src="assets/icons/list-outline.svg" alt="View">
            <span>View</span>
        </a> -->

    <!-- </nav> -->

</div>